<div class="game-container">
	<div class="top-bar">
		<div class="game-wrapper">
			<div class="game-top-container">
			  <div class="img-container">
			    <a href="#!/" class="logo-link"></a>
			  </div>
			  <div class="nav-menu">
			    <ul class="game-menu-options">
					  <li class="logout-link" ng-click="clickLogout()">Logout</li>
					</ul>
				</div>
		  </div>
		</div>
	</div>
	<ul class="split-container">
		<li class="game-text">
			<div class="player-wrapper">
				<p class="player-text"></p>
				<input class="player-input" ng-model="playerInput">
				<button class="player-button" ng-click="clickRun()">Run</button>
			</div>
		</li>

		<li class="game-view">

			<table class="table">
				<tr class="gridStyle row0">
					<td class="gridStyle pos00">
					</td>
					<td class="gridStyle pos01">
					</td>
					<td class="gridStyle pos02">
					</td>
					<td class="gridStyle pos03">
					</td>
					<td class="gridStyle pos04">
					</td>
				</tr>
				<tr class="gridStyle row1">
					<td class="gridStyle pos10">
					</td>
					<td class="gridStyle pos11">
					</td>
					<td class="gridStyle pos12">
					</td>
					<td class="gridStyle pos13">
					</td>
					<td class="gridStyle pos14">
					</td>
				</tr>
				<tr class="gridStyle row2">
					<td class="gridStyle pos20">
					</td>
					<td class="gridStyle pos21">
					</td>
					<td class="gridStyle pos22">
					</td>
					<td class="gridStyle pos23">
					</td>
					<td class="gridStyle pos24">
					</td>
				</tr>
				<tr class="gridStyle row3">
					<td class="gridStyle pos30">
					</td>
					<td class="gridStyle pos31">
					</td>
					<td class="gridStyle pos32">
					</td>
					<td class="gridStyle pos33">
					</td>
					<td class="gridStyle pos34">
					</td>
				</tr>
				<tr class="gridStyle row4">
					<td class="gridStyle pos40">
					</td>
					<td class="gridStyle pos41">
					</td>
					<td class="gridStyle pos42">
					</td>
					<td class="gridStyle pos43"> 
					</td>
					<td class="gridStyle pos44">
					</td>
				</tr>
			</table>
		</li>

	</ul>
</div>