<html>
  <head>
    {% load static %}
    {% csrf_token %}
    <title>VGL: Multicultural CS Education</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="{% static 'js/angular-route.min.js' %}"></script>
    <script src="{% static 'js/angular-cookies.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body ng-app="main">
    <div ng-view></div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/components/navbar.js' %}"></script>
    <script src="{% static 'js/components/bottom.js' %}"></script>
    <script src="{% static 'js/components/home.js' %}"></script>
    <script src="{% static 'js/components/login.js' %}"></script>
    <script src="{% static 'js/components/game.js' %}"></script>
  </body>
</html>